h1{
    text-align: center;
    color:purple;
}

p{
    font-size: 10px;
}

body{
    background-color: rosybrown;
}

img{
    width:500px;
    height:600px;
}
.name{
    color:blue;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }